{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}InstaClone{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">InstaClone</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <!-- Форма поиска -->
                        <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search' %}">
                            <input class="form-control mr-sm-2" type="search" name="query" placeholder="Поиск пользователей" aria-label="Search" required>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                        </form>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="btn btn-primary my-2 my-sm-0" href="{% url 'create_post' %}">Добавить публикацию</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выйти</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Регистрация</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Вход</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container mt-5">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer bg-dark text-white text-center py-3">
        <p>&copy; 2024 InstaClone</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
