{% extends "base_generic.html" %}
{% load static %} 

{% block title %}Главная страница{% endblock %}

{% block content %}
<h1>Добро пожаловать на наш сайт!</h1>

{% if user.is_authenticated %}
    <a href="{% url 'profile' username=user.username %}" class="btn btn-primary">Перейти на свой профиль</a>
{% endif %}

{% if posts %}
    <ul>
        {% for post in posts %}
            <li>
                <img src="{{ post.image.url }}" alt="Публикация">
                <p>{{ post.description }}</p>
                <p>Автор: {{ post.author.username }}</p>
                <p>Дата: {{ post.created_at }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Нет новых публикаций.</p>
{% endif %}
{% endblock %}
